@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fontstyle: "Poppins", sans-serif;
  --fontsize: 20px;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

.nav {
  width: 100%;
  margin-top: 25px;
}

nav {
  height: auto;
  border-radius: 45px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 80px;
}

nav a {
  margin: 10px;
  font-family: var(--fontstyle);
  font-size: var(--fontsize);
  color: white;
  text-decoration: none;
  width: auto;
  padding: 10px 30px;
  border-radius: 30px;
}

nav a:hover {
  background-color: #ff7300;
  font-weight: 500;
}
/* second -----------------------------------nav */

.insta-nav {
  width: 95%;
  height: auto;
  border: 2px solid black;
  border-radius: 15px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0; /* Fixes the navbar to the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjusts for centering */
  z-index: 1000;
  margin: 5px; /* Optional: adds some space around the navbar */
}
.insta-nav img {
  padding: 5px 10px;
  height: 40px;
  width: 40px;
  transition: box-shadow 0.3s ease;
}
.insta-nav img.selected {
  box-shadow: 0 0 0 2px black;
}

/* Media Queries */

/* Tablets (between 768px and 1024px) */
@media screen and (min-width: 360px) and (max-width: 500px) {
  .insta-nav img {
    padding: 5px 5px;
  }
  nav {
    display: none;
  }
  .insta-nav {
    padding: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 2000px) {
  .insta-nav {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    margin: 5px 40px;
  }
  nav a {
    font-size: 18px;
    padding: 8px 25px;
  }
}

/* Mobile Devices (between 480px and 768px) */
@media screen and (max-width: 768px) {
  nav {
    margin: 5px 20px;
  }
  nav a {
    font-size: 16px;
    padding: 7px 20px;
  }
}

/* Small Mobile Devices (less than 480px) */
