@media screen and (max-width: 1250px) {
  .about-section .pass-photo img {
    top: 0px;
  }
  .link-data {
    width: 650px;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .about-section {
    column-gap: 20px; /* Reduce column gap for smaller screens */
    row-gap: 20px;
    height: auto; /* Allow height to adjust based on content */
  }

  .about-sec {
    top: 0; /* Remove the negative top position */
    padding: 20px; /* Add padding for better spacing */
  }

  .link-data {
    width: 100%; /* Ensure width adapts to container */
    height: auto; /* Allow height to adjust based on content */
  }

  .about-matter {
    row-gap: 20px; /* Reduce row gap for smaller screens */
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .about-sec {
    top: -40px;
  }
}
@media screen and (max-width: 420px) {
  .about-sec {
    top: -60px;
  }
}
@media screen and (max-width: 500px) {
  .about-sec {
    top: -80px;
  }
}
@media screen and (min-width: 380px) and (max-width: 600px) {
  .about-sec {
    top: -100px;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .about-sec {
    top: -120px;
  }
}
@media screen and (min-width: 700px) and (max-width: 840px) {
  .about-sec {
    top: -140px;
  }
}
@media screen and (min-width: 841px) and (max-width: 925px) {
  .about-sec {
    top: -140px;
  }
}
@media screen and (min-width: 925px) and (max-width: 1150px) {
  .about-sec {
    top: -160px;
  }
}
